body {
    background-color: aliceblue;
}

img {
    border-radius: 50%;
}

p {
    color: blue;
    font-size: 30px;
    padding: 50px;
    /* border-style: solid;
    border-width: 5px;
    border-color: green; */
    border: 2px dashed red;
    margin: 50px 25px 15px 10px;
    border-radius: 20px;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

#para2 {
    font-size: 15px;
}

#div1 p,
.test {
    color: plum;
}